@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu .logo img {
    height: 60px;
    width: auto;
}

.menu {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 10%;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.menu li a {
    text-decoration: none;
    color: #6a6a6a;
    padding: 20px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #2a92a1;
}



.titulos_apartados {
    z-index: 2;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-align: center;
    opacity: 0.8px;
    margin: auto;
    width: 100%;
    color: white;
}

.nosotros .content {
    text-align: center;
}

.nosotros .content .icons {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.nosotros .content .icons i {
    font-size: 20px;
    text-align: left;
    color: #000000;
}

.nosotros .content .content-txt p {
    line-height: 1.5;
    color: #ffffff;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.subtitulos {
    font-size: 30px;
    text-align: center;
    color: white;
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%); /* Mueve la diapositiva hacia la izquierda */
    }
}

.inicio img {
    animation: pulse 2s infinite;
}

.clientes .swiper {
    width: 100%;
    margin: 0 auto;
}

.clientes .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 420px;
    background-color: #fcfbff;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}

.clientes .swiper-slide img {
    display: block;
    width: 100%;
}

.clientes {
    padding: 50px 0 50px 0;
    
}

.clientes h2 {
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 10px;
    z-index: 2;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-align: center;
    opacity: 0.8px;
    margin: auto;
    width: 100%;
    color: #092327;
}

.P_pagina {
    display: block;
    text-align: center;
    font-size: 16PX;
    border-radius: 0.8px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
}

.P_pagina p {
    text-align: center;
}

.form-txt {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.form-txt a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    justify-content: space-between;
    margin: auto;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    text-align: center;
    width: 900px;
    margin: auto;
    margin-bottom: 40px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    color: #010607;
    font-size: 35px;
}

label {
    color: #010607;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 2px solid #F0FAF1;
    color: #092327;
    outline: none;
}

input::placeholder textarea::placeholder {
    color: rgb(25, 23, 128);
}

.btn {
    font-size: 16px;
    color: aliceblue;
    border: 0;
    border-radius: 25px;
    background-color: #51D94C;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: #50E04B;
}

.titulo_cotizar {
    z-index: 2;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-align: center;
    opacity: 0.8px;
    margin: auto;
    width: 100%;
    color: rgb(17, 16, 16);
}

.container {
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #F0FAF1;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
    text-align: center;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover {
    background: #2fb4cc;
    color: #fff;

}

.clientes .swiper {
    width: 100%;
    padding: 150px 0 50px 0;
}

.container-txt {
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #FFFFFF;
    margin-left: 10px;
    font-size: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: all 400ms ease;
    border-radius: 15px;
}

.servicios a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.servicios a:hover {
    background: #2fb4cc;
    color: #fff;
}

.contacto{
    background-color: #020325;
}

.contacto .search-container {
    background-color: #020325;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    padding: 0.2%;
}

.contacto .informacionC { 
    color:#FFFFFF;
}

.contacto a li {
    color: #ffffff;
}

.mercado .swiper {
    width: 100%;
    padding: 150px 0 50px 0;
}

.mercado .swiper-slide {
    width: 420px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i {
    font-size: 20px;
}

.icons img {
    width: 200px;
    height: auto;
}

.product-content {
    display: flex;
    justify-content: space-between;
}

.product-txt {
    flex-basis: 50%;
    text-align: left;
}

.product-txt h3 {
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}

.product-txt p {
    font-size: 20px;
    line-height: 1.5;
    color: #6a6a6a;
}

.product-img {
    flex-basis: 50%;
    width: 150px;
    height: 300px;
    text-align: right;
    margin-top: 30px;
}

.product-img img {
    width: 150px;
    height: 250px;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slide>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.right-slide>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



@media(max-widht:991px) {
    body {
        padding: 30px;
        min-height: 0vh;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px;
    }

    .clientes {
        padding: 20px;
    }
}